
/**********home page****/
.a-1{
position: absolute;
right: 0;
  width: 100%;
  height: 100%;


}

.topleft {
  position: absolute;
  top: 8px;
  left: 75px;
  font-size: 18px;
  font-size: 2rem;
}
.a-2 {
  background-color: #000;
  text-align: center;

}
.a-3{

  font-size: 1.5rem;
    color: #fff;
}

a:hover{
  color:#fff;
}

.glow {
  text-decoration: none;
  font-size: 80px;
  color: #000;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
 -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2f4353, 0 0 40px #2f4353, 0 0 50px #2f4353, 0 0 60px #2f4353, 0 0 70px #2f4353;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2f4353, 0 0 40px #2f4353, 0 0 50px #2f4353, 0 0 60px #2f4353, 0 0 70px #2f4353, 0 0 80px #2f4353;
  }
}



/*********** second page******/

body{

  background-color: #000;


}

section{
  width: 100%;
  min-height: 360px;
background-color: #000;
}

.wave{
  opacity: 1.7;
  position: relative;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

}
.wave:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 145px;
  background:url(../images/white-wave.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.top-right {
  position: absolute;
  top: 8px;
  right: 3rem;


}

.a_tag{
  text-decoration: none;
}

  .glow1 {
    text-decoration: none;
    font-size: 3rem;;
    color: #bdd4e7;


    text-align: center;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
   -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow1 {
    from {
      text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }

    to {
      text-shadow: 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000, 0 0 80px #000;
    }
  }

.b-1{
  color: #fff;
  font-size: 1.5rem;
  padding-top: 0;
  margin-top: 0;

}

.b-2{
  position: absolute;
  right: 10rem;
  width: 20%;
  height: 40%;
  border-radius: 50%;
}


   /******* * *******************   CARD STYLING *******************************/




.container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 300px;
  left: calc(30% - 258px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #d387ab;
  background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);

  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: red;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #fff;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}



/*********************** FLIP IMAGE STYLES **********************/


.flip-box {
margin-top: 0;
  width: 250px;
  height: 220px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
background-color: #000;
z-index: 1;
margin-left: 57rem;
  margin-top: 1rem;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;

  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #000;
  color: black;
}

.flip-box-back {

  background-color: #923cb5;
  color: #d387ab;
  transform: rotateY(180deg);
}

.b_tag{
  text-decoration: none;

}

.h-1{
  position:absolute;
right:1rem;
top: 20rem;
color: #fff;

z-index: 1;
}
.glow3 {
  text-decoration: none;
margin-top: 3rem;
margin-left: 2rem;
  color: #fff;

  -webkit-animation: glow3 1s ease-in-out infinite alternate;
 -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow3 {
  from {
    text-shadow: 0 0 10px #ff8489, 0 0 20px #ff8489, 0 0 30px #ff8489, 0 0 40px #ff8489, 0 0 50px #ff8489, 0 0 60px #ff8489, 0 0 70px #ff8489;
  }

  to {
    text-shadow: 0 0 20px #ff8489, 0 0 30px #ff8489, 0 0 40px #ff8489, 0 0 50px #ff8489, 0 0 60px #ff8489, 0 0 70px #ff8489, 0 0 80px #ff8489;
  }
}

.topleft1 {
  position: absolute;
  top: 12px;
  left:7rem;

  font-size: 2rem;
}

.container-fluid{

  width: 100%;
  height: 100%;

}





/********************************** projects ********************************/



#footer{
  width: 100%;
  height: 50rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}


.d1{
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight:500;
  font-size: 3.5rem;
}


  .hr1 {
      transform: rotate(90deg);
    position:absolute;
    left:27%;
    top: 65rem;

    width: 40rem;
      border: 0;
      height: 3px;
      background: #095484;
      background-image: linear-gradient(to right, #ccc, #095484, #ccc);
    }

.hr2{
  position:absolute;
  left:27%;
  top: 65rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}

.dot2 {
  height: 29px;
  width: 29px;
  position:absolute;
  left:27%;
  top: 65rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}
.hr3{
  position:absolute;
  right: 21.5rem;
  top: 60rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot3 {
  height: 29px;
  width: 29px;
  position:absolute;
  right: 21.5rem;
  top: 60rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}




#footer2{
  width: 100%;
  height: 50rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}

.hr4{
  transform: rotate(90deg);
position:absolute;
left:27%;
top: 115rem;

width: 40rem;
  border: 0;
  height: 3px;
  background: #095484;
  background-image: linear-gradient(to right, #ccc, #095484, #ccc);

}


.hr5{
  position:absolute;
  left:27%;
  top: 120rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot5 {
  height: 29px;
  width: 29px;
  position:absolute;
  left:27%;
  top: 120rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}



.hr6{
  position:absolute;
  right: 21.5rem;
  top: 110rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}

.dot6 {
  height: 29px;
  width: 29px;
  position:absolute;
right: 21.5rem;
  top: 110rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}



#footer3{
  width: 100%;
  height: 50rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}

.hr7{
  transform: rotate(90deg);
position:absolute;
left:27%;
top: 167rem;

width: 40rem;
  border: 0;
  height: 3px;
  background: #095484;
  background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.hr8{
  position:absolute;
  left:27%;
  top: 165rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot8 {
  height: 29px;
  width: 29px;
  position:absolute;
  left:27%;
  top: 165rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}

.hr9{
  position:absolute;
  right: 21.5rem;
  top: 160rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot9 {
  height: 29px;
  width: 29px;
  position:absolute;
right: 21.5rem;
  top: 160rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}

#footer4{
  width: 100%;
  height: 50rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);

}
.hr10{
  transform: rotate(90deg);
position:absolute;
left:27%;
top: 217rem;

width: 40rem;
  border: 0;
  height: 3px;
  background: #095484;
  background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.hr11{
  position:absolute;
  left:27%;
  top: 220rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot11 {
  height: 29px;
  width: 29px;
  position:absolute;
  left:27%;
  top: 220rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}

.hr12{
  position:absolute;
  right: 21.5rem;
  top: 210rem;

  width: 20rem;
    border: 0;
    height: 3px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}
.dot12 {
  height: 29px;
  width: 29px;
  position:absolute;
  right: 21.5rem;
  top: 210rem;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  border-radius: 50%;
  display: inline-block;
}

/***.p-1:hover {
  transform: scale(1.5); /* (150% zoom)*/
